body {
}

.content {
	width: 75%;
	margin: auto;	
}

[class*='col-'] {
	float: left;
}

.col-1-4 {
	width: 25%;
}

.col-1-2 {
	width: 50%;
}

.originals img,
.originals canvas {
	margin-top: 20px;
}

.originals div {
	margin-bottom: 20px;
}

.filters img,
.blurs img {
	margin-top: 30px;
}
